In [1]:
import pandas as pd
import numpy as np
import csv
from sklearn import model_selection

In [2]:
df = pd.read_csv(r'data.csv')

In [3]:
df.head()

,BPrev,BStreak,B_Age,B_Height,B_HomeTown,B_ID,B_Location,B_Name,B_Weight,B__Round1_Grappling_Reversals_Landed,...,R__Round5_TIP_Ground Time,R__Round5_TIP_Guard Control Time,R__Round5_TIP_Half Guard Control Time,R__Round5_TIP_Misc. Ground Control Time,R__Round5_TIP_Mount Control Time,R__Round5_TIP_Neutral Time,R__Round5_TIP_Side Control Time,R__Round5_TIP_Standing Time,winby,winner
0,1,1,23.0,182.0,Trento Italy,2783,Mezzocorona Italy,Marvin Vettori,84,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DEC,red
1,0,0,32.0,175.0,"Careiro da Várzea, Amazonas Brazil",2208,"Pharr, Texas USA",Carlos Diego Ferreira,70,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SUB,blue
2,2,0,38.0,172.0,Kanagawa Japan,721,Tokyo Japan,Takanori Gomi,70,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,KO/TKO,red
3,0,0,23.0,170.0,Tijuana Mexico,2825,Tijuana Mexico,Brandon Moreno,56,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SUB,blue
4,3,1,30.0,167.0,"Spokane, WA USA",2260,"Spokane, WA USA",Elizabeth Phillips,61,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DEC,red

In [4]:
df.shape

(1477, 895)

In [5]:
df.columns

Index(['BPrev', 'BStreak', 'B_Age', 'B_Height', 'B_HomeTown', 'B_ID',
       'B_Location', 'B_Name', 'B_Weight',
       'B__Round1_Grappling_Reversals_Landed',
       ...
       'R__Round5_TIP_Ground Time', 'R__Round5_TIP_Guard Control Time',
       'R__Round5_TIP_Half Guard Control Time',
       'R__Round5_TIP_Misc. Ground Control Time',
       'R__Round5_TIP_Mount Control Time', 'R__Round5_TIP_Neutral Time',
       'R__Round5_TIP_Side Control Time', 'R__Round5_TIP_Standing Time',
       'winby', 'winner'],
      dtype='object', length=895)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1477 entries, 0 to 1476
Columns: 895 entries, BPrev to winner
dtypes: float64(873), int64(13), object(9)
memory usage: 10.1+ MB

In [7]:
df.isna().sum()

BPrev                                 0
BStreak                               0
B_Age                                 3
B_Height                              1
B_HomeTown                            6
                                   ...
R__Round5_TIP_Neutral Time         1333
R__Round5_TIP_Side Control Time    1333
R__Round5_TIP_Standing Time        1333
winby                                16
winner                                0
Length: 895, dtype: int64

In [8]:
# Number of missing values in data 
cols_na_sum = list(df.isna().sum())

In [9]:
# Keep separately names of columns, where we have more than 80% of missing value, for dropping those columns in near future. 
col_names_to_drop = []

for i in range(len(cols_na_sum)): 
    if cols_na_sum[i] > 300: 
        col_names_to_drop.append(df.columns[i])

len(col_names_to_drop)

870

In [10]:
# Drop and keep new data with dropped columns in df_dropped dataframe. 
df_dropped = df.drop(columns = col_names_to_drop)

In [11]:
df_dropped.head()

,BPrev,BStreak,B_Age,B_Height,B_HomeTown,B_ID,B_Location,B_Name,B_Weight,Date,...,RStreak,R_Age,R_Height,R_HomeTown,R_ID,R_Location,R_Name,R_Weight,winby,winner
0,1,1,23.0,182.0,Trento Italy,2783,Mezzocorona Italy,Marvin Vettori,84,01/02/2017,...,1,27.0,187,"João Pessoa, Paraíba Brazil",2246,"Coconut Creek, Florida United States",Antonio Carlos Junior,84,DEC,red
1,0,0,32.0,175.0,"Careiro da Várzea, Amazonas Brazil",2208,"Pharr, Texas USA",Carlos Diego Ferreira,70,06/30/2014,...,0,29.0,182,"Des Moines, IA USA",2039,"Fort Hood, TX USA",Colton Smith,70,SUB,blue
2,2,0,38.0,172.0,Kanagawa Japan,721,Tokyo Japan,Takanori Gomi,70,07/27/2015,...,0,32.0,177,"Brockton, Massachusetts USA",524,"Bridgewater, Massachusetts USA",Joe Lauzon,70,KO/TKO,red
3,0,0,23.0,170.0,Tijuana Mexico,2825,Tijuana Mexico,Brandon Moreno,56,10/03/2016,...,4,25.0,175,"Honolulu, HI USA",2166,"Kapolei, HI USA",Louis Smolka,56,SUB,blue
4,3,1,30.0,167.0,"Spokane, WA USA",2260,"Spokane, WA USA",Elizabeth Phillips,61,08/22/2016,...,2,28.0,170,"Colorado Springs, Colorado United States",2150,"Colorado Spring, Colorado United States",Raquel Pennington,61,DEC,red

In [12]:
# Let's check if any missing value is still presents
df_dropped.isna().sum()

BPrev          0
BStreak        0
B_Age          3
B_Height       1
B_HomeTown     6
B_ID           0
B_Location     7
B_Name         0
B_Weight       0
Date           0
Event_ID       0
Fight_ID       0
Last_round     0
Max_round      0
RPrev          0
RStreak        0
R_Age          1
R_Height       0
R_HomeTown     0
R_ID           0
R_Location     1
R_Name         0
R_Weight       0
winby         16
winner         0
dtype: int64

In [13]:
df_dropped["winner"].value_counts()

red           867
blue          584
no contest     17
draw            9
Name: winner, dtype: int64

In [14]:
# Replace missing values in "B_Age" column with its mean. 
not_na_age = df_dropped["B_Age"].notna()
age_mean = round(not_na_age.mean())
df_dropped["B_Age"] = df_dropped["B_Age"].fillna(age_mean)

In [15]:
# Fill n/a values with the height mean 
height_mean = round(df_dropped["B_Height"].notna().mean())
df_dropped["B_Height"] = df_dropped["B_Height"].fillna(height_mean)

In [16]:
# Replace missing values by column median for "R_Age"
r_age_median = round(df_dropped["R_Age"].notna().median())
df_dropped["R_Age"] = df_dropped["R_Age"].fillna(r_age_median)

In [17]:
df_dropped["winby"].value_counts()

DEC       720
KO/TKO    458
SUB       283
Name: winby, dtype: int64

In [18]:
# Replace n/a values in column "winby" by value with highest frequency. 
df_dropped["winby"] = df_dropped["winby"].fillna("DEC")

In [19]:
df_dropped.shape

(1477, 25)

In [20]:
df_dropped.head()

,BPrev,BStreak,B_Age,B_Height,B_HomeTown,B_ID,B_Location,B_Name,B_Weight,Date,...,RStreak,R_Age,R_Height,R_HomeTown,R_ID,R_Location,R_Name,R_Weight,winby,winner
0,1,1,23.0,182.0,Trento Italy,2783,Mezzocorona Italy,Marvin Vettori,84,01/02/2017,...,1,27.0,187,"João Pessoa, Paraíba Brazil",2246,"Coconut Creek, Florida United States",Antonio Carlos Junior,84,DEC,red
1,0,0,32.0,175.0,"Careiro da Várzea, Amazonas Brazil",2208,"Pharr, Texas USA",Carlos Diego Ferreira,70,06/30/2014,...,0,29.0,182,"Des Moines, IA USA",2039,"Fort Hood, TX USA",Colton Smith,70,SUB,blue
2,2,0,38.0,172.0,Kanagawa Japan,721,Tokyo Japan,Takanori Gomi,70,07/27/2015,...,0,32.0,177,"Brockton, Massachusetts USA",524,"Bridgewater, Massachusetts USA",Joe Lauzon,70,KO/TKO,red
3,0,0,23.0,170.0,Tijuana Mexico,2825,Tijuana Mexico,Brandon Moreno,56,10/03/2016,...,4,25.0,175,"Honolulu, HI USA",2166,"Kapolei, HI USA",Louis Smolka,56,SUB,blue
4,3,1,30.0,167.0,"Spokane, WA USA",2260,"Spokane, WA USA",Elizabeth Phillips,61,08/22/2016,...,2,28.0,170,"Colorado Springs, Colorado United States",2150,"Colorado Spring, Colorado United States",Raquel Pennington,61,DEC,red

In [21]:
# Drop columns containing unique data
df_dropped = df_dropped.drop(columns = ["B_HomeTown", "B_Location", "B_Name","R_HomeTown", "R_Location", "R_Name", "Date"])

In [22]:
# Binning columns "R_Weight" and "B_Weight"

df_dropped['R_Weight_binned'] = pd.cut(df_dropped['R_Weight'], bins=10)
df_dropped['B_Weight_binned'] = pd.cut(df_dropped['B_Weight'], bins=10)

In [23]:
df_dropped['R_Weight_binned']

0         (79.2, 86.0]
1         (65.6, 72.4]
2         (65.6, 72.4]
3       (51.932, 58.8]
4         (58.8, 65.6]
             ...
1472      (58.8, 65.6]
1473    (51.932, 58.8]
1474      (79.2, 86.0]
1475    (51.932, 58.8]
1476      (79.2, 86.0]
Name: R_Weight_binned, Length: 1477, dtype: category
Categories (10, interval[float64]): [(51.932, 58.8] < (58.8, 65.6] < (65.6, 72.4] < (72.4, 79.2] ... (92.8, 99.6] < (99.6, 106.4] < (106.4, 113.2] < (113.2, 120.0]]

In [24]:
df_dropped.columns

Index(['BPrev', 'BStreak', 'B_Age', 'B_Height', 'B_ID', 'B_Weight', 'Event_ID',
       'Fight_ID', 'Last_round', 'Max_round', 'RPrev', 'RStreak', 'R_Age',
       'R_Height', 'R_ID', 'R_Weight', 'winby', 'winner', 'R_Weight_binned',
       'B_Weight_binned'],
      dtype='object')

In [25]:
# Turn "winner" into dummy variable
df_dropped = pd.get_dummies(df_dropped, columns=['winner', 'winby', 'R_Weight_binned','B_Weight_binned'])

In [26]:
df_dropped.head()

,BPrev,BStreak,B_Age,B_Height,B_ID,B_Weight,Event_ID,Fight_ID,Last_round,Max_round,...,"B_Weight_binned_(51.932, 58.8]","B_Weight_binned_(58.8, 65.6]","B_Weight_binned_(65.6, 72.4]","B_Weight_binned_(72.4, 79.2]","B_Weight_binned_(79.2, 86.0]","B_Weight_binned_(86.0, 92.8]","B_Weight_binned_(92.8, 99.6]","B_Weight_binned_(99.6, 106.4]","B_Weight_binned_(106.4, 113.2]","B_Weight_binned_(113.2, 120.0]"
0,1,1,23.0,182.0,2783,84,802,6405,3,3,...,0,0,0,0,1,0,0,0,0,0
1,0,0,32.0,175.0,2208,70,670,4786,1,3,...,0,0,1,0,0,0,0,0,0,0
2,2,0,38.0,172.0,721,70,729,5523,1,3,...,0,0,1,0,0,0,0,0,0,0
3,0,0,23.0,170.0,2825,56,790,6240,1,3,...,1,0,0,0,0,0,0,0,0,0
4,3,1,30.0,167.0,2260,61,785,6226,3,3,...,0,1,0,0,0,0,0,0,0,0

In [27]:
df_dropped.columns

Index(['BPrev', 'BStreak', 'B_Age', 'B_Height', 'B_ID', 'B_Weight', 'Event_ID',
       'Fight_ID', 'Last_round', 'Max_round', 'RPrev', 'RStreak', 'R_Age',
       'R_Height', 'R_ID', 'R_Weight', 'winner_blue', 'winner_draw',
       'winner_no contest', 'winner_red', 'winby_DEC', 'winby_KO/TKO',
       'winby_SUB', 'R_Weight_binned_(51.932, 58.8]',
       'R_Weight_binned_(58.8, 65.6]', 'R_Weight_binned_(65.6, 72.4]',
       'R_Weight_binned_(72.4, 79.2]', 'R_Weight_binned_(79.2, 86.0]',
       'R_Weight_binned_(86.0, 92.8]', 'R_Weight_binned_(92.8, 99.6]',
       'R_Weight_binned_(99.6, 106.4]', 'R_Weight_binned_(106.4, 113.2]',
       'R_Weight_binned_(113.2, 120.0]', 'B_Weight_binned_(51.932, 58.8]',
       'B_Weight_binned_(58.8, 65.6]', 'B_Weight_binned_(65.6, 72.4]',
       'B_Weight_binned_(72.4, 79.2]', 'B_Weight_binned_(79.2, 86.0]',
       'B_Weight_binned_(86.0, 92.8]', 'B_Weight_binned_(92.8, 99.6]',
       'B_Weight_binned_(99.6, 106.4]', 'B_Weight_binned_(106.4, 113.2]',
       'B_Weight_binned_(113.2, 120.0]'],
      dtype='object')

In [28]:
# Now, let's keep 70% of data for dummy variables, and assign 'other' to 30%. 
p70 = round(df_dropped.shape[0]*0.7)
cols = ['winby_DEC', 'winby_KO/TKO',
       'winby_SUB', 'R_Weight_binned_(51.932, 58.8]',
       'R_Weight_binned_(58.8, 65.6]', 'R_Weight_binned_(65.6, 72.4]',
       'R_Weight_binned_(72.4, 79.2]', 'R_Weight_binned_(79.2, 86.0]',
       'R_Weight_binned_(86.0, 92.8]', 'R_Weight_binned_(92.8, 99.6]',
       'R_Weight_binned_(99.6, 106.4]', 'R_Weight_binned_(106.4, 113.2]',
       'R_Weight_binned_(113.2, 120.0]', 'B_Weight_binned_(51.932, 58.8]',
       'B_Weight_binned_(58.8, 65.6]', 'B_Weight_binned_(65.6, 72.4]',
       'B_Weight_binned_(72.4, 79.2]', 'B_Weight_binned_(79.2, 86.0]',
       'B_Weight_binned_(86.0, 92.8]', 'B_Weight_binned_(92.8, 99.6]',
       'B_Weight_binned_(99.6, 106.4]', 'B_Weight_binned_(106.4, 113.2]',
       'B_Weight_binned_(113.2, 120.0]']

for c in cols: 
    df_dropped[c][p70:] = "other"

<ipython-input-28-6e88b2e44601>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dropped[c][p70:] = "other"

In [29]:
df_dropped['winby_DEC']

0           1
1           0
2           0
3           0
4           1
        ...
1472    other
1473    other
1474    other
1475    other
1476    other
Name: winby_DEC, Length: 1477, dtype: object

In [30]:
# Save cleaned data in csv file
df_dropped.to_csv("data_cleaned.csv")

In [31]:
x = df_dropped.drop(columns = ["winner_blue"])
y = df_dropped["winner_blue"]

In [32]:
x_train,x_test,y_train,y_test = model_selection.train_test_split(x,y,test_size=0.2)

In [33]:
train, test = model_selection.train_test_split(df_dropped,test_size=0.2)

In [34]:
y_train

826     0
410     1
460     1
1174    0
624     1
       ..
1116    0
1364    0
645     0
359     0
634     1
Name: winner_blue, Length: 1181, dtype: uint8

In [35]:
df_dropped.head()

,BPrev,BStreak,B_Age,B_Height,B_ID,B_Weight,Event_ID,Fight_ID,Last_round,Max_round,...,"B_Weight_binned_(51.932, 58.8]","B_Weight_binned_(58.8, 65.6]","B_Weight_binned_(65.6, 72.4]","B_Weight_binned_(72.4, 79.2]","B_Weight_binned_(79.2, 86.0]","B_Weight_binned_(86.0, 92.8]","B_Weight_binned_(92.8, 99.6]","B_Weight_binned_(99.6, 106.4]","B_Weight_binned_(106.4, 113.2]","B_Weight_binned_(113.2, 120.0]"
0,1,1,23.0,182.0,2783,84,802,6405,3,3,...,0,0,0,0,1,0,0,0,0,0
1,0,0,32.0,175.0,2208,70,670,4786,1,3,...,0,0,1,0,0,0,0,0,0,0
2,2,0,38.0,172.0,721,70,729,5523,1,3,...,0,0,1,0,0,0,0,0,0,0
3,0,0,23.0,170.0,2825,56,790,6240,1,3,...,1,0,0,0,0,0,0,0,0,0
4,3,1,30.0,167.0,2260,61,785,6226,3,3,...,0,1,0,0,0,0,0,0,0,0

In [36]:
df_dropped.info

<bound method DataFrame.info of       BPrev  BStreak  B_Age  B_Height  B_ID  B_Weight  Event_ID  Fight_ID  \
0         1        1   23.0     182.0  2783        84       802      6405
1         0        0   32.0     175.0  2208        70       670      4786
2         2        0   38.0     172.0   721        70       729      5523
3         0        0   23.0     170.0  2825        56       790      6240
4         3        1   30.0     167.0  2260        61       785      6226
...     ...      ...    ...       ...   ...       ...       ...       ...
1472      0        0   26.0     172.0  2355        61       689      5123
1473      2        1   26.0     165.0  2610        56       775      6146
1474      3        2   36.0     187.0  1694        93       696      5090
1475      3        1   31.0     167.0  2339        52       775      6133
1476      2        1   31.0     187.0   786        84       683      4912

      Last_round  Max_round  ...  B_Weight_binned_(51.932, 58.8]  \
0              3          3  ...                               0
1              1          3  ...                               0
2              1          3  ...                               0
3              1          3  ...                               1
4              3          3  ...                               0
...          ...        ...  ...                             ...
1472           3          3  ...                           other
1473           3          3  ...                           other
1474           3          3  ...                           other
1475           3          3  ...                           other
1476           3          5  ...                           other

      B_Weight_binned_(58.8, 65.6]  B_Weight_binned_(65.6, 72.4]  \
0                                0                             0
1                                0                             1
2                                0                             1
3                                0                             0
4                                1                             0
...                            ...                           ...
1472                         other                         other
1473                         other                         other
1474                         other                         other
1475                         other                         other
1476                         other                         other

      B_Weight_binned_(72.4, 79.2]  B_Weight_binned_(79.2, 86.0]  \
0                                0                             1
1                                0                             0
2                                0                             0
3                                0                             0
4                                0                             0
...                            ...                           ...
1472                         other                         other
1473                         other                         other
1474                         other                         other
1475                         other                         other
1476                         other                         other

      B_Weight_binned_(86.0, 92.8]  B_Weight_binned_(92.8, 99.6]  \
0                                0                             0
1                                0                             0
2                                0                             0
3                                0                             0
4                                0                             0
...                            ...                           ...
1472                         other                         other
1473                         other                         other
1474                         other                         other
1475                         other                         other
1476                         other                         other

      B_Weight_binned_(99.6, 106.4]  B_Weight_binned_(106.4, 113.2]  \
0                                 0                               0
1                                 0                               0
2                                 0                               0
3                                 0                               0
4                                 0                               0
...                             ...                             ...
1472                          other                           other
1473                          other                           other
1474                          other                           other
1475                          other                           other
1476                          other                           other

      B_Weight_binned_(113.2, 120.0]
0                                  0
1                                  0
2                                  0
3                                  0
4                                  0
...                              ...
1472                           other
1473                           other
1474                           other
1475                           other
1476                           other

[1477 rows x 43 columns]>

In [37]:
# Save train/test data. 
train.to_csv("train.csv")
test.to_csv("test.csv")

In [38]:
train.shape

(1181, 43)

In [39]:
test.shape

(296, 43)